body
{
	background-color: #232323;
}
table{
	margin: 0 auto;
	width:600px;
	height: 600px;
	
}
td{
	width:30%;
	margin:1%;
	height: 190px;
	background-color: blue;
	float:left;
	border: 1px solid;
	color: white;
	font-size: 150px;
    text-align: center;
    display: block;

}
h1
{
	color: white;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 50px;
	font-weight: normal;
}